#gameContainer {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: center;

    }
#confirmBattleshipsBtn {
    visibility: hidden;
}

#takeShotBtn {
    visibility: hidden;
}

#turnDisplayContainer {
    visibility: hidden;
}

.board {
     width 400px;
     height: 400px;
     display: grid;
     grid-template-columns: repeat(10, 40px);
     justify-content: center;
    }
.square {
      width 40px;
      height 40px;
      background-color: #0096C7;
      border-style: solid;
      border-color: black;
      color: #fff;
}

.square:hover {
    filter: brightness(150%);
}

.ship{
    background-color: whitesmoke;
}

.ship div{
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
}

.ships-container{
    background-color: slateblue;
    min-width 300px;
    height: 400px;
    margin: 20px;
}

.destroyer-container{
    width: 80px;
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
}
.destroyer-container-vertical{
    width: 40px;
    height: 80px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}
.submarine-container{
    width: 120px;
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
}
.submarine-container-vertical{
    width: 40px;
    height: 120px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}
.cruiser-container{
    width: 120px;
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
}
.cruiser-container-vertical{
    width: 40px;
    height: 120px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}
.battleship-container{
    width: 160px;
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
}
.battleship-container-vertical{
    width: 40px;
    height: 160px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}
.carrier-container{
    width: 200px;
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
}
.carrier-container-vertical{
    width: 40px;
    height: 200px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}