<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battleships</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>


<body>

<h3>Lobby</h3>

<input id="name" placeholder="Place a name here">
<input id="gameId" placeholder="Game Id here">
<br>
<button id="createNewGameBtn">Create a new game</button>
<br>
<button id="joinGameBtn">Join Game</button>

<br><br>

<span id="gameIdContainer">Game Id: <span id="gameIdFinal">Not Connected: </span></span>

<br><br>

<span id="playerOneContainer">Player One: <span id="playerOne">Empty</span></span>
<br>
<span id="playerTwoContainer">Player Two: <span id="playerTwo">Empty</span></span>





<script src="/js/socket.js"></script>
</body>
</html>